//全屏显示
html.full-screen {
    width: 100%;
    height: 100%;
}

//居中显示的容器
.center-container {
    height: 100%;
    width: 100%;
    .center-table {
        display: table;
        width: 100%;
        height: 100%;
        .center-cell {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            .center-block {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}